{% load static %}

<!DOCTYPE html>

<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1>Winning Culture</h1>
    </header>

    <main>
        <div class="content">
        {% block content %}
        {% endblock %}
        <a href="/" class="arrow">
            <img src="{% static 'img/arrow.png' %}" alt="arrow">
        </a>
        </div>
    </main>
    <footer class="footer">
        <section id="icons">
            <a href="#" class="instagram">
                <img src="{% static 'img/instagram.png' %}" alt="instagram">
            </a>
            <a href="#" class="linkedin">
                <img src="{% static 'img/linkedin.png' %}" alt="linkedin">
            </a>
            <a href="#" class="github">
                <img src="{% static 'img/git-hub.png' %}" alt="github">
            </a>
            <a href="https://www.google.com" class="flickr"></a>
            
        </section>
        <i>Designed by Carlos Maia | 2022</i>
    </footer>
</body>

</html>