/* Colors
Red = #95012E
white = #FCFDFF
yellow = #F9A01B
black = #071922 */

@font-face {
    font-family: Nba Heat;
    src: url('nba-heat.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

html {
    font-size: 100%;
    font-family: 'open sans', sans-serif;
    color: white;
}

body {
    background-color: #95012E;
    overflow-x: hidden;
}

header {
    display: flex;
    height: 16vh;
    align-items: self-end;
    justify-content: space-between;
    padding: 0 0 15px 0;
}

.navbar {
    display: flex;
    position: fixed;
    height: 4vh;
    width: 100%;
    top: 0;
    background-color: black;
    border-bottom: 1px solid rgba(149, 1, 46, 1);
    ;
    align-items: center;
    padding: 5px 0;
}

ul {
    margin: 0px 0 0 40px;
}

li {
    color: white;
    display: inline-block;
    margin: 0 0 0 0;
    list-style: none;
    background-color: inherit;
    padding: 10px 10px;
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

li a, a:visited {
    text-decoration: none;
    color: #F9A01B;
    transition: .5s;
}

li a:hover {
    font-size: 22px;
    color: #fff;
    padding: 10px 0px;
    text-decoration: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    -webkit-text-fill-color: black;
}

h1 {
    margin: 0px 50px;
    text-transform: uppercase;
    background-image: linear-gradient(
    -225deg,
    white 0%,
    white 29%,
    #F9A01B 67%,
    #071922 100%
  );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
     text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 10s linear infinite;
    display: inline-block;
    font-size: 60px;
    letter-spacing: 0.5px;
    font-family: Nba heat, sans-serif;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.content {
    background-color: black;
    width: 70vw;
    padding: 30px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
}

a, a:visited {
    text-decoration: none;
}

.post-title, .post-title:visited {
    line-height: 2.5rem;
    font-size: 30px;
    text-decoration: none;
    transition: 0.4s;
    color: #F9A01B;
}

.post-title:hover {
    text-decoration: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    -webkit-text-fill-color: black;
}

p {
    text-indent: 45px;
    font-size: 18px;
    line-height: 1.6rem;
    letter-spacing: .0450em;
    padding: 0px 15px 15px 10px;
    text-align: justify;
}

.date {
    font-size: 14px;
    position: relative;
    left: 100px;
    padding: 0px 0px 30px 0px;
    text-indent: -45px;
    letter-spacing: .0800rem;
}

.button {
    color: #F9A01B;
}

.button:hover {
    font-weight: bolder;
}

.swen {
    display: flex;
    background-color: black;
    border: 1px solid;
    width: 284px;
    height: 57px;
    color: #F9A01B;
    border-radius: 10px 10px 50px 10px;
    justify-content: center;
    margin: 30px auto;
    align-items: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bolder;
    transition: .5s;
    
}

.swen:hover {
    padding: 20px;
}

hr {
    margin: 30px -60px;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.arrow {
    background-color: #F9A01B;
    border-radius: 100%;
    text-align: center;
    width: 60px;
    justify-content: center;
    margin: auto;
    transition: 1s;
}

.arrow:hover {
    background-color: white;
}

#icons a {
    height: 56px;
    width: 56px;
    /* display: inline-block; */
    text-align: center;
    margin: 10px;
}

i {
    margin-top: 10px;
}
  
.footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 30px;
}

.autor-comentario {
    margin: 5px 0;
    font-size: 14px;
    font-weight: 500;
    color: white;
    font-style: italic;
    letter-spacing: .0800rem;
}

.comment-title {
    color: #F9A01B;
}

.corpo-comentario p {
    font-size: 18px;
    font-weight: 500;
    padding: 15px 0;
    letter-spacing: .0600rem;
}

.line-comentario {
    margin: 0 0 15px 0;
    width: 50%;
    height: 2px;
    background-color: rgba(249, 160, 27, .2);
    border: 0px;
}

.comment-section p {
    text-indent: 0px;
}

.comment-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.comment-form p {
    font-size: 12px;
    text-indent: 0px;
    display: flex;
    flex-direction: column;
}

.comment-form p label {
    font-size: 18px;
    padding: 15px 15px;
}

 .comment-form p input {
     width: 350px;
     height: 30px;
     font-size: 18px;
 }

 .comment-form p textarea {
    width: 500px;
    height: 150px;
    font-size: 18px;
}

.botao-comentario {
    display: flex;
    background-color: black;
    border: 1px solid;
    width: 284px;
    height: 57px;
    color: #F9A01B;
    border-radius: 10px 10px 50px 10px;
    justify-content: center;
    margin: 30px auto;
    align-items: center;
    font-size: 24px;
    font-weight: 800;
    transition: .5s;
}

.botao-comentario:hover {
    padding: 20px;
}